* {
    font-family: 'GangwonEdu_OTFBoldA';
    color: lightgray;
}
body {
    background-color: black;
    overflow-x: hidden;
}
h1 {
    font-size: 50px;
    text-align: center;
    animation-fill-mode: forwards;
    animation: fadein 5s, swingt 15s infinite;
    }
.boat {
    position: relative;
    display: block;
    margin-bottom: -42.5%;
    animation: swing 8s infinite;
    transition: 2s ease-out;
}
@font-face {
    font-family: 'GangwonEdu_OTFBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
